# JOTFORM_API_KEY: Required for Jotform API calls.
JOTFORM_API_KEY=

# FIREBASE CONFIG (Optional fallbacks for Vercel)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_DATABASE_ID=

# ACCESS CONTROL
VITE_ACCESS_KEY=
